---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Steps from '~/components/widgets/Steps.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import Features2 from '~/components/widgets/Features2.astro';
import Features from '~/components/widgets/Features.astro';
import Stats from '~/components/widgets/Stats.astro';
import Features3 from '~/components/widgets/Features3.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Brands from '~/components/widgets/Brands.astro';

import YoutubeVideo from '~/components/common/YoutubeVideo.astro';

const metadata = {
  title: 'People',
};
---

<Layout metadata={metadata}>

  <!-- People Widget ******************* -->
  <Hero>
    <Fragment slot="title">
      <!--Free template for <span class="hidden xl:inline">creating websites with</span> -->
      <!--<span class="text-accent dark:text-white highlight"> Astro 4.0</span> + Tailwind CSS -->
      <span class="text-accent dark:text-white highlight"> Federated Learning</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
      In the realm of data privacy and security, Federated Learning emerges as a cornerstone of Infinidata Lab's approach. 
      This paradigm allows us to train AI models across multiple decentralized devices or servers holding local data samples, without exchanging them. 
      This method ensures that sensitive information remains within its original context, safeguarding privacy while still benefiting from collective insights. 
      Our commitment to Federated Learning exemplifies our dedication to advancing AI technology in a manner that respects and protects user data integrity and confidentiality.
    </Fragment>
  </Hero>

  <Features2
    items={[
      {
        title: 'Rihan Hai',
        description: "Ever tried driving without GPS? Boom! That's why websites need headers for direction.",
        image: { src: 'https://www.wis.ewi.tudelft.nl/assets/img/people/rihan.jpg', alt: 'AstroWind Hero Image' },
      },
      {
        title: 'Danning Zhan',
        description: "Ever tried driving without GPS? Boom! That's why websites need headers for direction.",
        image: {src: 'https://www.wis.ewi.tudelft.nl/assets/img/people/danning%20zhan.jpg', alt: ''}
      },
      {
        title: 'Aditya Shankar',
        description: "Ever tried driving without GPS? Boom! That's why websites need headers for direction.",
        image: {src: 'https://www.wis.ewi.tudelft.nl/assets/img/people/shankar.jpg', alt:''}
      },
    ]}
  />
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>


</Layout>
