---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Steps from '~/components/widgets/Steps.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import Features2 from '~/components/widgets/Features2.astro';
import Features from '~/components/widgets/Features.astro';
import Stats from '~/components/widgets/Stats.astro';
import Features3 from '~/components/widgets/Features3.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Brands from '~/components/widgets/Brands.astro';

import YoutubeVideo from '~/components/common/YoutubeVideo.astro';

const metadata = {
  title: 'People',
};
---

<Layout metadata={metadata}>

  <!-- People Widget ******************* -->

  <Hero>
    <Fragment slot="title">
      <!--Free template for <span class="hidden xl:inline">creating websites with</span> -->
      <!--<span class="text-accent dark:text-white highlight"> Astro 4.0</span> + Tailwind CSS -->
      <span class="text-accent dark:text-white highlight"> Quantum Data Management</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
      Venturing into the future, Infinidata Lab is pioneering Quantum Data Management to lay the groundwork for next-generation data handling. 
      Our focus is on developing systems and algorithms that are compatible with Quantum Computing and Quantum Internet technologies. 
      This forward-thinking approach promises to revolutionize how data is stored, processed, and transmitted, offering unparalleled levels of security and efficiency. 
      By investing in Quantum Data Management, we are not only preparing for the quantum era but also opening up new possibilities for data-driven innovations.
    </Fragment>
  </Hero>

  <Features2
    items={[
      {
        title: 'Rihan Hai',
        description: "Ever tried driving without GPS? Boom! That's why websites need headers for direction.",
        image: { src: 'https://www.wis.ewi.tudelft.nl/assets/img/people/rihan.jpg', alt: 'AstroWind Hero Image' },
      },
    ]}
  />
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>


</Layout>
