---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Steps from '~/components/widgets/Steps.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import Features2 from '~/components/widgets/Features2.astro';
import Features from '~/components/widgets/Features.astro';
import Stats from '~/components/widgets/Stats.astro';
import Features3 from '~/components/widgets/Features3.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Brands from '~/components/widgets/Brands.astro';

import YoutubeVideo from '~/components/common/YoutubeVideo.astro';

const metadata = {
  title: 'People',
};
---

<Layout metadata={metadata}>

  <!-- People Widget ******************* -->

  <Features2
    title="Assitant Professor"
    items={[
      {
        title: 'Rihan Hai',
        description: "I am an assistant professor at Web Information Systems (WIS) group of TU Delft. Before joining TU Delft, I received my Ph.D. degree with “summa cum laude” from Information Systems & Databases group of RWTH Aachen University, Germany. I received my BEng and MEng from Tsinghua University, China. My research focuses on data lakes, data management for machine learning, and quantum data management.",
        image: { src: 'https://www.wis.ewi.tudelft.nl/assets/img/people/rihan.jpg', alt: 'AstroWind Hero Image' },
      },
    ]}
  />
  <Features2
    title="PhD"
    items={[
      {
        title: 'Wenbo Sun',
        description: "Wenbo Sun is a PhD candidate at WIS team. Prior to joining TUDelft, he worked as a software engineer, then received his master degree in computational science at University of Amsterdam. His research focuses on database system, machine learning system and performance engineering.",
        image: {src: 'https://www.wis.ewi.tudelft.nl/assets/img/people/wenbosun.jpg', alt: ''}
      },
      {
        title: 'Danning Zhan',
        description: "PhD candidate working on privacy preservation in machine learning on tabular data in the data lake setting.",
        image: {src: 'https://www.wis.ewi.tudelft.nl/assets/img/people/danning%20zhan.jpg', alt: ''}
      },
      {
        title: 'Aditya Shankar',
        description: "I am a PhD candidate at Distributed Systems and Web Information Systems. My supervisors are Dr. Lydia Y. Chen, Dr. Rihan Hai, and Dr. Arie van Deursen. My research interests are distributed learning, privacy-preserving learning, and federated learning.",
        image: {src: 'https://www.wis.ewi.tudelft.nl/assets/img/people/shankar.jpg', alt:''}
      },
    ]}
  />
  <Features2
    title="Postdoc"
    items={[
      {
        title: 'Ziyu Li',
        description: "I am a PhD student at the Web Information Systems group, Department of Software Technology, Faculty of EEMCS, Delft University of Technology. The PhD project belongs to the HyperEdge project with Cognizant. I’m supervised by Alessandro Bozzon and Asterios Katsifodimos. My research lies at the intersection of Machine Learning and data analysis. In particular, my reserach investigates how to apply metadata of different artifacts (e.g., model, data, hardware settings) to improve the effectiveness and efficiency of machine learning workflows.",
        image: {src: 'https://www.wis.ewi.tudelft.nl/assets/img/people/ziyu_li.jpg',alt:'', }
      }
    ]}
  />
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>


</Layout>
